.pageNotFound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15000;
  background-color: rgba(9, 32, 34, 0.9);
  color: rgb(201, 201, 201);
}
.upper {
  text-transform: uppercase;
}
.code {
  font-size: 18em;
  line-height: 90%;
  letter-spacing: 32px;
}
.pageWrapper {
  margin-bottom: 16px;
  text-align: center;
}
.page {
  font-size: 4em;
  letter-spacing: 6px;
}
.notFound {
  font-size: 1.2em;
  letter-spacing: 2px;
}
