.textArea {
  padding: 0 0.6rem;
  padding-top: 8px;
  border: none;
  border-bottom: 1px solid var(--colGrey);
  background-color: transparent;
  // resize: none;
  overflow: hidden;
  outline: none;
  border-radius: 0;
  // color: inherit;
}
