.body {
  transform: rotateZ(0deg);
  transform-origin: center;
  transform-box: fill-box;
  animation: aniBody 2s ease-in-out infinite;
}

@keyframes aniBody {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.head {
  transform: rotateZ(0deg);
  transform-origin: 50% calc(100% + 50%);
  transform-box: fill-box;
  animation: aniHead 2s ease-in infinite alternate;
}

@keyframes aniHead {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(7deg);
  }
}
