:root {
  --colWhite: rgb(219, 219, 219);
  --colYellow: rgb(186, 160, 80);
  --colGrey: #cecece;
  --colGreen: #19857b;
  --colGreenLight: #54bcb2;
  --colRed: #e17b7b;
  --colSuccess: #19857b;
  --colError: #bb3232;
  --colWarning: #936232;
  --colInfo: rgb(38, 97, 143);
  --colBlack: #383838;
  --colDarkGreen: rgba(12, 107, 105, 0.96);
}

$col-white: rgb(219, 219, 219);
$col-yellow: rgb(186, 160, 80);
$col-grey: #cecece;
$col-green: #19857b;
$col-green-light: #54bcb2;
$col-red: #e17b7b;
$col-success: #19857b;
$col-error: #bb3232;
$col-warning: #936232;
$col-info: rgb(38, 97, 143);
$col-black: #383838;
$col-dark-green: rgba(12, 107, 105, 0.96);
